.todoEditor .editor-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.todoEditor input {
    flex: 1; /* 전체 width에서 비율로 할당*/
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
}

.todoEditor input:focus {
    outline: none;
    border: 1px solid #1f93ff;
}
.todoEditor button {
    width: 80px;
    padding: 5px;
    border: none;
    background-color:#1f93ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}